a-menu {
	--bg1-color: snow;
	--bg2-color: linen;
	--text-color: rgb(60,60,60);
	--border-color: silver;
	--accent-color: dodgerblue;
	--accent-text: white;
	--radius: 5px;
	--gap: 0;
	--pad: 0 .5rem;
	--dir: column;
	--min: 35px;

	display: inline-block;
}

a-menu[open] {
	display: block;
	box-shadow: 2px 2px 5px black;
}

a-menu > a-menu { padding-left: 1rem; }

/***** Background *****/

	a-menu a:active,
	a-menu[open],
	a-menu::part(label):hover,
	a-menu[open]::part(label)
	{ background: var(--accent-color) }

	a-menu::part(label),
	a-menu::part(items)
	{ background: var(--bg1-color); }

/***** Border *****/

	a-menu[open]
	{ border: 1px solid var(--border-color) }

	a-menu a,
	a-menu::part(label)
	{ border-bottom: 1px solid var(--border-color) }

/***** Text *****/

	a-menu a:active,
	a-menu::part(label):hover,
	a-menu[open]::part(label)
	{ color: var(--accent-text) }

	a-menu a
	{ text-decoration: none }

	a-menu a:hover,
	a-menu button:hover {
		text-decoration: underline;
		text-decoration-thickness: 3px;
	}

/***** Cursor *****/

	a-menu a,
	a-menu button,
	a-menu label,
	a-menu::part(label)
	{ cursor: pointer }
