a-menu {
	--bg1-color: snow;
	--bg2-color: linen;
	--text-color: rgb(60,60,60);
	--border-color: silver;
	--accent-color: dodgerblue;
	--accent-text: white;
	--min: 35px;

	/***** Background *****/

	  &::part(label),
	  &::part(items) {
			background: var(--bg1-color);
	  }

	  & a:active,
		& a:hover,
		&[open]::part(label),
		& [slot="label"]:focus
		{ background: var(--accent-color) }

	/***** Border *****/

		&[type="mobile"] a,
		& a-menu a,
		& a-menu::part(label)
		{ border-bottom: 1px solid var(--border-color) }

	/***** Text *****/

		& a:active,
		& a:hover,
		& [slot="label"]:focus,
		&[open]::part(label)
		{ color: var(--accent-text) }

		& a
		{ text-decoration: none }

	/***** Cursor *****/

		& a,
		& button,
		& label,
		&::part(label)
		{ cursor: pointer }

	/***** Misc *****/

		& [slot="label"]::after {
			align-items: center;
			content: "▶";
			display: inline-flex;
			font-size: 1rem;
			height: 1rem;
			justify-content: center;
			margin-left: .5rem;
			rotate: 0deg;
			transition: rotate .2s;
			width: 1rem;
		}

		& [slot="label"]:focus::after {
			rotate: 90deg;
		}
}









