a-menu {
	--bg1-color: snow;
	--bg2-color: linen;
	--text-color: rgb(60,60,60);
	--border-color: silver;
	--accent-color: dodgerblue;
	--accent-text: white;
	--min: 35px;
	--pad: .5rem;

	min-height: var(--min);

/***** Background *****/

	&::part(items) {
		background: var(--bg1-color);
	}

	& a:hover,
	& a:active,
	& a:focus,
	&::part(header):hover,
	&::part(header):active,
	&::part(header):focus
	{ background: var(--bg2-color) }

/***** Border *****/

	&::part(items)
	{ border: 1px solid var(--border-color) }

	& a,
	& a-menu:not([top]) {
		border-bottom: 1px solid var(--border-color);
	}

/***** Text *****/

	& a,
	&::part(label) {
		color: var(--text-color);
		font-weight: bold;
		text-decoration: none
	}

/***** Cursor *****/

	& a,
	&::part(header)
	{ cursor: pointer }

/***** Shadows *****/

	&[top]::part(items)
	{ box-shadow: none }

	&::part(items)
	{ box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); }

/***** Misc *****/

	&:not([top]) a-menu {
		padding-left: var(--pad);
	}

	& a,
	&::part(header) {
		padding: var(--pad);
	}

}









